.container
  .row
    .col-md-2
    .col-md-8
      .h1
        = "Edit: #{@notecard.title}"

      = render partial: 'form', locals: {notecard: @notecard}

      .btn.btn-default
        = link_to 'Back', notecards_path, class: "button"
