.container-fluid.container-fluid-main
  .row
    .col-md-2
    .col-md-8

      = render partial: 'form', locals: {notecard: @notecard}

      .btn.btn-default
        = link_to 'Back', notecards_path
