.container-fluid.container-fluid-main
  .row
    .col-md-2
      %ul.nav.nav-pills.nav-stacked.margin-left
        %li.active{:role => "presentation"}
          = link_to "Home", notecards_path

    .col-md-8.padding-bottom
      %table.table
        %tr
          %th
            Scope
          %td
            data
          %td
            data
        %tr
          %th
            Scope
          %td
            data
          %td
            data
        %tr
          %th
            Scope
          %td
            data
          %td
            data
        %tr
          %th
            Scope
          %td
            data
          %td
            data
