.container-fluid.container-fluid-main
  .row
    .col-md-10.col-md-offset-1.text-center
      .panel.panel-log.main-text
        .panel-body.margin-bottom
          = form_tag({action: :upload}, multipart: true) do
            = file_field_tag 'my_clippings'
            = submit_tag
