$main-color: #333743;
$main-color-alt1: #404452;
$alt-text: #fff;
$theme-color: #ffa500;
$notecard-width: 400px;
$button-color: $theme-color;

html, body {
  padding: 0;
  margin: 0;
  font: 17px 'Roboto', serif;
  color: $main-color;

  &.main {
    background-color: $main-color;
  }
}

a {
  text-decoration: none;

  &.alt {
    color: #fff;
  }
}

h1 {
  font-size: 33px;
  margin-top: 1em;
  padding-top: 0;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-weight: normal;
  margin: .5em;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  font-family: 'Roboto';
  margin: .5em;
}

textarea {
  font-size: 14px;
  margin-bottom: 2em;
  border: none;
  width: 375px;
  height: 150px;
  resize: none;

  &.main-color {
    background-color: $main-color-alt1;
    color: #fff;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }

  &.alt-color {
    color: $main-color;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }
}

input[type=text] {
  font-size: 14px;
  border: none;
  width: 375px;

  &.main-color {
    background-color: $main-color-alt1;
    color: #fff;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }
}

.theme-color {
  color: $main-color;
}

.alt-color {
  color: $alt-text;
}

.button, input[type="submit" i] {
  background-color: $button-color;
  border: 1px solid $button-color;
  border-radius: 2px;
  color: white;
  font: 12px 'Roboto', sans-serif;
  padding: 5px 10px 5px 10px;
  margin: 1em .5em 1em 0em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    font-weight: bold;
  }
}

/* LAYOUT */

.footer {
  margin: 0;
  width: 100%;
  min-height: 3em;
  background-color: $main-color;
}

.container {
  width: 90%;
  margin: auto;
}

.right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.topright {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size: 18px;
}

.margin-top {
  margin-top: 1em;

  &.more {
    margin-top: 2em;
  }
}

.margin-bottom {
  margin-bottom: 1em;

  &.more {
    margin-bottom: 2em;
  }
}

.margin-right {
  margin-right: 2em;
}

.padding-top {
  padding-top: 1em;

  &.more {
    padding-top: 2em;
  }
}

.padding-left {
  padding-left: 10px;
}

.padding-bottom {
  padding-bottom: 1em;

  &.more {
    padding-bottom: 2em;
  }
}

.valign {
  vertical-align: middle;
}

.body-text {
  width: 75%;
  margin: 0 auto;
}


/* HOMEPAGE STYLING */

.section {
  margin: 0;
  width: 100%;
  min-height: 25em;

  &.dark {
    background-color: $main-color;
  }
  &.light {
    background-color: $main-color-alt1;
  }

  &.theme {
    background-color: $theme-color;
  }

  &.tall {
    min-height: 45em;
  }
}

.home-text {
  font: 20px 'Lora', serif;
  line-height: 2;
}

/* NOTECARDS */

.notecard {
  border: solid 1px $theme-color;
  width: $notecard-width;
  display: inline-block;
}

.notecard-title {
  width: $notecard-width;
  background-color: $main-color-alt1;
  text-transform: uppercase;
  font-weight: bold;
}

.notecard-quote {
  width: $notecard-width;
  background-color: #fff;
  height: 200px;
  border-top: solid 1px $theme-color;
  border-bottom: solid 1px $theme-color;
}


.notecard-note {
  width: $notecard-width;
  background-color: $main-color-alt1;
  height: 200px;
}
