.container, .container-fluid {
  &.tall {
    min-height: 45em;
  }
  &.alt-background {
    background-color: #eeeeee;
  }
}

.jumbotron {
  &.tall {
    min-height: 45em;
  }
}

.panel-heading {
  &.notecard {
    min-height: 4em;
  }
}

.panel-title {
  a {
    text-decoration: none;
  }
}

.panel-body {
  &.quote {
    min-height: 15em;
  }
  &.book {
    background-color: lightgray;
  }
}

.panel-footer {
  &.note {
    min-height: 15em;
  }
}

.padding-bottom {
  margin-bottom: 3em;
}

.btn {
  margin-top: 1em;

  a {
    text-decoration: none;
  }
}

.margin-top {
  margin-top: 1em;
}
.margin-bottom {
  margin-bottom: 1em;
}

.padding-top {
  padding-top: 1em;
}

.centered-text {
  text-align: center;
}

.nav-home {
  background-color: #eeeeee;
}
