@import 'variables';

html, body {
  color: $primary-color;

  &.main {
    background-color: $primary-color;
  }
}

a {
  text-decoration: none;

  &.alt {
    color: #fff;
  }
}

h1 {
  font-size: 33px;
  margin-top: 1em;
  padding-top: 0;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-weight: normal;
  margin: .5em;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  font-family: 'Roboto';
  margin: .5em;
}

textarea {
  font-size: 14px;
  margin-bottom: 2em;
  border: none;
  height: 150px;
  resize: none;

  &.main-color {
    background-color: $accent-color;
    color: $primary-color;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }

  &.alt-color {
    color: $primary-color;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }
}

input[type=text], input[type=number] {
  font-size: 14px;
  border: none;

  &.main-color {
    background-color: $secondary-color;
    color: #fff;

    &:focus {
      outline: solid 1px lightgray;
      outline-offset: 2px;
    }
  }
}

.theme-color {
  color: $primary-color;
}

.alt-color {
  color: $alt-text;
}

.button, input[type="submit" i] {
  background-color: $button-color;
  border: 1px solid $button-color;
  border-radius: 2px;
  color: white;
  font: 12px 'Roboto', sans-serif;
  padding: 5px 10px 5px 10px;
  margin: 1em .5em 1em 0em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    font-weight: bold;
  }
}

.body-text {
  width: 75%;
  margin: 0 auto;
}
