$main-color: #333743;
$main-color-alt1: #404452;
$alt-text: #fff;
$theme-color: #ffa500;
$notecard-width: 400px;

html, body {
  padding: 0;
  margin: 0;
  font: 20px 'Lora', serif;
  color: $main-color;

  &.main {
    background-color: $main-color
  }
}

a {
  text-decoration: none;

  &.alt {
    color: #fff;
  }
}

h1 {
  font-size: 33px;
  margin-top: 1em;
  padding-top: 0;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-weight: normal;
  margin: .5em;
}

h3 {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  font-family: 'Roboto';
  margin: .5em;
}

.theme-color {
  color: $main-color;
}

.alt-color {
  color: $alt-text;
}

/* LAYOUT */

.footer {
  margin: 0;
  width: 100%;
  min-height: 3em;
  background-color: $main-color;
}

.container {
  width: 90%;
  margin: auto;
}

.right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.topright {
  position: absolute;
  top: 1em;
  right: 2em;
  font-size: 18px;
}

.margin-top {
  margin-top: 1em;

  &.more {
    margin-top: 2em;
  }
}

.margin-bottom {
  margin-bottom: 1em;

  &.more {
    margin-bottom: 2em;
  }
}

.margin-right {
  margin-right: 2em;
}

.padding-bottom {
  padding-bottom: 1em;

  &.more {
    padding-bottom: 2em;
  }
}

.valign {
  vertical-align: middle;
}

.body-text {
  width: 75%;
  margin: 0 auto;
  line-height: 200%;
}

/* HOMEPAGE STYLING */

.section {
  margin: 0;
  width: 100%;
  min-height: 20em;

  &.dark {
    background-color: $main-color;
  }
  &.light {
    background-color: $main-color-alt1;
  }

  &.theme {
    background-color: $theme-color;
  }

  &.tall {
    min-height: 33em;
  }
}

/* NOTECARDS */

.notecard {
  border: solid 1px $theme-color;
  width: $notecard-width;
  display: inline-block;
}

.notecard-title {
  width: $notecard-width;
  background-color: $main-color-alt1;
  text-transform: uppercase;
  font-weight: bold;
}

.notecard-quote {
  width: $notecard-width;
  background-color: #fff;
  height: 200px;
  border-top: solid 1px $theme-color;
  border-bottom: solid 1px $theme-color;
}


.notecard-note {
  width: $notecard-width;
  background-color: $main-color-alt1;
  height: 200px;
}
