@import 'variables';

.section {
  margin: 0;
  width: 100%;
  min-height: 35em;

  &.dark {
    background-color: $primary-color;
  }

  &.solarized {
    background-color: $solarized;
  }

  &.light {
    background-color: $light-gray;
  }

  &.theme {
    background-color: $theme-color;
  }

  &.tall {
    min-height: 45em;
  }
}

.home-text {
  font: 20px 'Lora', serif;
  line-height: 2;
}
