.panel-log {
  width: auto;
  display: inline-block;
  border: 1px solid black;
  padding: 30px;

  input, input:focus {
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
  }

  h2 {
    font-style: italic;
  }
}
