.navbar {
  color: black;
  border-bottom: 1px solid black;

  a {
    color: black;
  }

  .navbar-brand, .navbar-brand:hover {
    color: $text-color-secondary;
    font-family: 'Cormorant Infant', serif;
    font-size: 45px;
  }

  .navbar-header {
    margin: .5em 2em;
  }
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:visited,
.navbar-default .navbar-nav > .open > a:active {
    color: $text-color-secondary;
    background-color: $theme-color;
    padding-top: 2em;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $text-color-secondary;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $theme-color;
}

.navbar-default {
  background-color: $theme-color;
}

.h2-brand{
  color: $text-color-secondary;
  font-family: 'Cormorant Infant', serif;
  font-size: 45px;
}

.nav-pills {
  
  li {
    text-transform: uppercase;
    margin-bottom: 5px;

    a, a:hover, a:focus, a:visited {
      background-color: $background-color-primary;
      color: black;
    }
  }

  li.active {
    a, a:hover, a:focus, a:visited {
      margin-bottom: 5px;
      background-color: $theme-color;
      text-transform: uppercase;
      color: $text-color-secondary;
      border: solid 1px black;
    }
  }
}

.nav-pills {
  margin-bottom: 15px;
}
