@import 'variables';

.notecard {
  border: solid 1px $theme-color;
  width: $notecard-width;
  display: inline-block;
  font: 'Roboto', serif;
}

.notecard-title {
  width: $notecard-width;
  background-color: $secondary-color;
}

.title-text {
  text-transform: uppercase;
  font-weight: bold;
}

.links {
  text-decoration: none;
  color: darkgray;
  font-style: italic;
}

.notecard-quote {
  width: $notecard-width;
  background-color: #fff;
  height: 200px;
  border-top: solid 1px $theme-color;
  border-bottom: solid 1px $theme-color;
}

.notecard-note {
  width: $notecard-width;
  background-color: $accent-color;
  height: 200px;
}
