$orange: #ffa500;
$solarized-dark: #37474F;
$solarized: #455A64;
$light-gray: #f0f2f4;
$white: #fff;

$primary-color: $solarized-dark;
$secondary-color: $solarized;
$accent-color: $light-gray;
$theme-color: $orange;

$alt-text: $white;
$button-color: $theme-color;

$notecard-width: 400px;
